-- FASE 1: PREPARACIÓN DE LA BÓVEDA (SUPABASE)
-- 1. Crear Trigger de Sincronización de Usuarios para nuevos registros
CREATE OR REPLACE FUNCTION public.handle_new_user() 
RETURNS TRIGGER AS 
BEGIN
  INSERT INTO auth.users (id, email, password)
  VALUES (new.id, new.username || '@anexocobro.com', new.password);
  RETURN new;
END;
 LANGUAGE plpgsql SECURITY DEFINER;

-- 2. Asegurarse de quitar reglas viejas si existen
DROP TRIGGER IF EXISTS on_profile_created ON public.profiles;

-- 3. Activar Trigger
CREATE TRIGGER on_profile_created
  AFTER INSERT ON public.profiles
  FOR EACH ROW EXECUTE PROCEDURE public.handle_new_user();

-- 4. Preparar la migración masiva de los ACTUALES (inserción directa saltándonos el trigger)
-- Esto toma todos los perfiles existentes y los mete en auth.users
INSERT INTO auth.users (id, email, encrypted_password, email_confirmed_at, raw_app_meta_data, raw_user_meta_data, created_at, updated_at, role, confirmation_token, recovery_token, email_change_token_new, email_change)
SELECT 
    id, 
    username || '@anexocobro.com', 
    -- Como no podemos desencriptar bcrypt mágicamente si ya estuviera (pero en tu app actual lo guardan en texto plano o en un hash frontend)
    -- Asumimos que la contraseña vieja está en la columna "password"
    crypt(password, gen_salt('bf')), 
    now(), 
    '{"provider":"email","providers":["email"]}', 
    '{}', 
    now(), 
    now(), 
    'authenticated', 
    '', '', '', ''
FROM public.profiles
ON CONFLICT (id) DO NOTHING;
